<h4>Formularios <small>template</small></h4>
<hr>

<form (ngSubmit)="submitForm(refForm)" #refForm="ngForm">
  <div class="form-group">
    <label>Nombre: </label>
    <input type="text" class="form-control" name="txtNombre"
      #txtNombre = "ngModel"
      [(ngModel)]="this.usuario.nombre"
      [ngClass]="{'is-valid': txtNombre.valid, 'is-invalid': !txtNombre.valid && txtNombre.touched}" 
      minlength="3"
      placeholder="Ingrese su nombre"
      required>
    
      <div class="valid-feedback">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">
            Es correcto.
          </font>
        </font>
      </div>
      
      <div class="invalid-feedback">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">
            Por favor, proporcione un nombre válido de al menos 3 caracteres.
          </font>
        </font>
      </div>
  </div>

  <div class="form-group">
    <label>Apellido: </label>
    <input type="text" class="form-control" name="txtApellido"
      #txtApellido = "ngModel"
      [(ngModel)]="this.usuario.apellido"
      [ngClass]="{'is-valid': txtApellido.valid, 'is-invalid': !txtApellido.valid && txtApellido.touched}" 
      minlength="3"
      required
      >

      <div class="valid-feedback">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">
            Es correcto.
          </font>
        </font>
      </div>
      
      <div class="invalid-feedback">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">
            Por favor, proporcione un apellido válido de al menos 3 caracteres.
          </font>
        </font>
      </div>
  </div>

  <div class="form-group">
    <label>Email: </label>
    <input type="email" class="form-control" name="txtEmail"
      #txtEmail = "ngModel"
      [ngClass]="{'is-valid': txtEmail.valid, 'is-invalid': !txtEmail.valid && txtEmail.touched}" 
      [(ngModel)]="this.usuario.correo"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      required>
    
    <div class="valid-feedback">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">
          Es correcto.
        </font>
      </font>
    </div>

    <div class="invalid-feedback">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">
          Por favor, proporcione un correo válido.
          <span *ngIf="['txtEmail'].errors?.pattern" >No cumple con el patrón requerido ejem: "micorreo@gmail.com"</span>
        </font>
      </font>
    </div>
  </div>

  <div class="form-group">
    <label>Pais: </label>
    <select class="custom-select" name="selectPais" [(ngModel)]="usuario.pais">
      <option value="" selected>Seleccione un pais</option>
      <option *ngFor="let pais of paises" [value]="pais.codigo">
        {{ pais.nombre }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label>Sexo:</label>
    
    <div *ngFor="let s of sexos; let index=index" class="custom-control custom-radio custom-control-inline">
      <input 
        [(ngModel)]="usuario.sexo"
        type="radio" 
        [id]="index" 
        name="chkSexo" 
        class="custom-control-input" 
        [value]="s.codigo">
      <label class="custom-control-label" [for]="index">{{ s.nombre }}</label>
    </div>

  </div>


  <div class="form-group">
    <label>Archivo: </label>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="customFile" lang="es">
      <label class="custom-file-label" for="customFile"></label>
    </div>
  </div>

  <div class="custom-control custom-checkbox">
    <input [(ngModel)]="usuario.aceptaTerminos"
      type="checkbox" 
      class="custom-control-input" 
      id="chkAcepta"
      name="chkAcepta"
      required>
    <label class="custom-control-label" for="chkAcepta">Acepta los terminos y condiciones</label>
  </div>

  
  <!-- [disabled] = "this.refForm.invalid" -->
  <button 
    type="submit" class="btn btn-primary">Guardar</button>
 
  <pre>{{usuario | json}}</pre>

</form>
